.container{
    width: 600px;
    height: 300px;
    background-color: #f97316;
    padding:10px;
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container p{

    color:#fff;
    text-align: center;
    font-weight: bold;
}
.massage{
font-weight: bold;    
text-align: center;
background-color:#f97316;
padding:20px 10px;
border-radius: 10px;
margin: 10px;
color:#fff;
/* width: 200px; */

}